* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    background-color: antiquewhite;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    padding: 5vh;
    background-color: white;
    border-radius: 10px;
}

label,
input {
    font-size: 1.5rem;
    border-radius: 5px;
}

h1 {
    margin-bottom: 2vh;
}

#submit {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
}